<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>Health Lab </title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

	<!-- Site Icons -->
	{% load static %}
    <link rel="shortcut icon" href="{% static 'patient_info/images/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'patient_info/images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'patient_info/css/bootstrap.min.css' %}">
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="{% static 'patient_info/css/pogo-slider.min.css' %}">
	<!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'patient_info/css/style.css' %}">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'patient_info/css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'patient_info/css/custom.css' %}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">
	{% include 'patient_info/message.html' %}
	<!-- LOADER -->
     <!-- <div id="preloader">
		<div class="loader">
			<img src="images/preloader.gif" alt="" />
		</div>
    </div>end loader -->
    <!-- END LOADER -->
	
	<!-- Start top bar -->
	<div class="main-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="left-top">
						<a class="new-btn-d br-2" href="#"><span>Register</span></a>
						<div class="mail-b"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> demo@gmail.com</a></div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="wel-nots">
						<p>Welcome to Our Health Lab!</p>
					</div>
					<div class="right-top">
						<ul>
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End top bar -->
	
	<!-- Start header -->
	<header class="top-header">
		<nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
				{% load static %}
				<a class="navbar-brand" href="index.html"><img src="{% static 'patient_info/images/logo.png' %}" alt="image"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="#home">Home</a></li>
                        <li><a class="nav-link" href="#about">About Us</a></li>
                        <li><a class="nav-link" href="#services">Services</a></li>
						<li><a class="nav-link" href="#appointment">Register</a></li>
                        <li><a class="nav-link" href="#gallery">Gallery</a></li>
						<li><a class="nav-link" href="#team">Doctor</a></li>
						<li><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
	</header>
	<!-- End header -->

	<!-- Start Banner -->
	<div class="ulockd-home-slider">
		<div class="container-fluid">
			<div class="row">
				<div class="pogoSlider" id="js-main-slider">
					{% load static %}
					<div class="pogoSlider-slide" data-transition="fade" data-duration="1500" style="background-image:url({% static 'patient_info/images/slider-01.jpg' %});">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>Welcome to Health Lab</h1>
								<a href="#" class="btn">Contact Us</a>
							</div>
						</div>
					</div>
					<div class="pogoSlider-slide" data-transition="fade" data-duration="1500" style="background-image:url({% static 'patient_info/images/slider-02.jpg' %});">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>We are Expert in The Field of Health Lab</h1>
								<a href="#appointment" class="btn">Register</a>
							</div>
						</div>
					</div>
					<div class="pogoSlider-slide" data-transition="fade" data-duration="1500" style="background-image:url({% static 'patient_info/images/slider-03.jpg' %});">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>Welcome to Health Lab</h1>
								<a href="#" class="btn">Contact Us</a>
							</div>
						</div>
						
					</div>
				</div><!-- .pogoSlider -->
			</div>
		</div>
	</div>
	<!-- End Banner -->
	
	<!-- Start About us -->
	<div id="about" class="about-box">
		<div class="about-a1">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title-box">
							<h2>About Us</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="row align-items-center about-main-info">
							<div class="col-lg-6 col-md-6 col-sm-12">
								<h2> Welcome to Health Lab </h2>
								<a href="#" class="new-btn-d br-2">Read More</a>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="about-m">
									<ul id="banner">
										{% load static %}
										<li>
											<img src="{% static 'patient_info/images/about-img-01.jpg' %}" alt="">
										</li>
										<li>
											<img src="{% static 'patient_info/images/about-img-02.jpg' %}" alt="">
										</li>
										<li>
											<img src="{% static 'patient_info/images/about-img-03.jpg' %}" alt="">
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About us -->
	
	<!-- Start Services -->
	<div id="services" class="services-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Services</h2>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-12">
					<div class="owl-carousel owl-theme">
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-h-square" aria-hidden="true"></i></div>
								<h3 class="title">Lorem ipsum dolor</h3>
								<p class="description">
									Institution for health care providing treatment by specialised staff and equipment, and typically providing nursing care for longer-term patient stays.
								</p>
								<a href="#" class="new-btn-d br-2">Read More</a>
							</div>
						</div>
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-heart" aria-hidden="true"></i></div>
								<h3 class="title">Lorem ipsum dolor</h3>
								<p class="description">
									Improving patient care has become a priority for all health care providers with the overall objective of achieving a high degree of patient satisfaction. Greater awareness among the public, increasing demand for better care, keener competition, more health care regulation, the rise in medical malpractice litigation, and concern about poor outcomes are factors that contribute to this change.
								</p>
								<a href="#" class="new-btn-d br-2">Read More</a>
							</div>
						</div>
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-hospital-o" aria-hidden="true"></i></div>
								<h3 class="title">Lorem ipsum dolor</h3>
								<p class="description">
									Evidence-based design seeks to improve health care architecture. Proponents argue that buildings can promote healing when design decisions are based on evidence from scientific research. Although they believe that the environment influences recovery, advocates of evidence-based design usually stop short of claiming that good architecture directly cures disease.
								</p>
								<a href="#" class="new-btn-d br-2">Read More</a>
							</div>
						</div>
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-stethoscope" aria-hidden="true"></i></div>
								<h3 class="title">Lorem ipsum dolor</h3>
								<p class="description">
									“One of the essential qualities of the clinician is interest in humanity, for the secret of the care of the patient is in caring for the patient” 
								</p>
								<a href="#" class="new-btn-d br-2">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>
	<!-- End Services -->
	
	<!-- Start Appointment -->
	<div id="appointment" class="appointment-main">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Patient Data</h2>
						<p>You can Register/Update/Delete here! . </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="well-block">
                        <div class="well-title">
                            <h2>Choose your option</h2>
                        </div>
                        <form method="POST">
							{% csrf_token %}
							{% load crispy_forms_tags %}
                            <!-- Form start -->
                            <div class="row">
                                <div class="col-md-12">
									{{ form|crispy }}
								</div>
                            </div>
                            
                                <!-- Button -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button id="singlebutton" name="singlebutton" class="new-btn-d br-2">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- form end -->
                    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Appointment -->
	
	<!-- Start Gallery -->
	<div id="gallery" class="gallery-box">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Gallery</h2>
						<p>See what we do. </p>
					</div>
				</div>
			</div>
			
			<div class="popup-gallery row clearfix">
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						{% load static %}
						<img src="{% static 'patient_info/images/gallery-01.jpg' %}" alt="">
						<div class="box-content">	
							<h3 class="title">Lorem ipsum dolor</h3>
							<ul class="icon">
								{% load static %}
								<li><a href="{% static 'patient_info/images/gallery-01.jpg' %}"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>								
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						{% load static %}
						<img src="{% static 'patient_info/images/gallery-02.jpg' %}" alt="">
						<div class="box-content">
							<h3 class="title">Lorem ipsum dolor</h3>
							<ul class="icon">
								{% load static %}
								<li><a href="{% static 'patient_info/images/gallery-02.jpg' %}"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>								
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">					
					<div class="box-gallery">
						{% load static %}
						<img src="{% static 'patient_info/images/gallery-03.jpg' %}" alt="">
						<div class="box-content">	
							<h3 class="title">Lorem ipsum dolor</h3>
							<ul class="icon">
								{% load static %}
								<li><a href="{% static 'patient_info/images/gallery-03.jpg' %}"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>								
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						{% load static %}
						<img src="{% static 'patient_info/images/gallery-04.jpg' %}" alt="">
						<div class="box-content">	
							<h3 class="title">Lorem ipsum dolor</h3>
							<ul class="icon">
								{% load static %}
								<li><a href="{% static 'patient_info/images/gallery-04.jpg' %}"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>								
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						{% load static %}
						<img src="{% static 'patient_info/images/gallery-05.jpg' %}" alt="">
						<div class="box-content">							
							<h3 class="title">Lorem ipsum dolor</h3>
							<ul class="icon">
								{% load static %}
								<li><a href="{% static 'patient_info/images/gallery-05.jpg' %}"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>								
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">					
					<div class="box-gallery">
						{% load static %}
						<img src="{% static 'patient_info/images/gallery-06.jpg' %}" alt="">
						<div class="box-content">
							<h3 class="title">Lorem ipsum dolor</h3>
							<ul class="icon">
								{% load static %}
								<li><a href="{% static 'patient_info/images/gallery-06.jpg' %}"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>								
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						{% load static %}
						<img src="{% static 'patient_info/images/gallery-07.jpg' %}" alt="">
						<div class="box-content">
							<h3 class="title">Lorem ipsum dolor</h3>
							<ul class="icon">
								{% load static %}
								<li><a href="{% static 'patient_info/images/gallery-07.jpg' %}"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>								
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						{% load static %}
						<img src="{% static 'patient_info/images/gallery-08.jpg' %}" alt="">
						<div class="box-content">		
							<h3 class="title">Lorem ipsum dolor</h3>
							<ul class="icon">
								{% load static %}
								<li><a href="{% static 'patient_info/images/gallery-08.jpg' %}"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Gallery -->
	
	<!-- Start Team -->
	<div id="team" class="team-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Our Doctor</h2>
						<p>A good doctor is not one who cures the most because in many specialties recovery is not a frequent outcome. It is not one who makes the best diagnosis because in many cases of self limited or incurable disorders the precise and timely diagnosis does not make a great difference for the patient. </p>
					</div>
				</div>
			</div>
			
			<div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
							{% load static %}
                            <img src="{% static 'patient_info/images/img-1.jpg' %}" alt="">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Williamson</h3>
                            <span class="post">Radiation Oncology</span>
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
							{% load static %}
                            <img src="{% static 'patient_info/images/img-2.jpg' %}" alt="">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Kristina</h3>
                            <span class="post">Paediatric Haematology, Oncology and BMT</span>
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
							{% load static %}
                            <img src="{% static 'patient_info/images/img-3.jpg' %}" alt="">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Steve Thomas</h3>
                            <span class="post">Surgical Oncology</span>
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
			
		</div>
	</div>
	
	<!-- End Team -->
	
	
	
	<!-- Start Contact -->
	<div id="contact" class="contact-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Contact us</h2>
					</div>
				</div>
			</div>
			<div class="row">
				
				<div class="col-lg-12 col-xs-12">
				  <div class="contact-block">
					<div class="col-lg-12 col-xs-12">
						<div class="left-contact">
							<h2>Address</h2>
							<div class="media cont-line">
								<div class="media-left icon-b">
									<i class="fa fa-location-arrow" aria-hidden="true"></i>
								</div>
								<div class="media-body dit-right">
									<h4>Address</h4>
									<p>Bangalore</p>
								</div>
							</div>
							<div class="media cont-line">
								<div class="media-left icon-b">
									<i class="fa fa-envelope" aria-hidden="true"></i>
								</div>
								<div class="media-body dit-right">
									<h4>Email</h4>
									<a href="#">demoinfo@gmail.com</a><br>
									<a href="#">demoinfo@gmail.com</a>
								</div>
							</div>
							<div class="media cont-line">
								<div class="media-left icon-b">
									<i class="fa fa-volume-control-phone" aria-hidden="true"></i>
								</div>
								<div class="media-body dit-right">
									<h4>Phone Number</h4>
									<a href="#">12345 67890</a><br>
									<a href="#">12345 67890</a>
								</div>
							</div>
						</div>
					</div>
				  </div>
				</div>
				
				
				
				
				
			</div>
		</div>
	</div>
	<!-- End Contact -->
	
	
	
	<!-- Start Footer -->
	<footer class="footer-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="footer-company-name"><a href="#">Health Lab</a> Project By : Dakshta Tomar</a></p>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer -->
	
	<a href="#" id="scroll-to-top" class="new-btn-d br-2"><i class="fa fa-angle-up"></i></a>
	{% load static %}
	<!-- ALL JS FILES -->
	<script src="{% static 'patient_info/js/jquery.min.js' %}"></script>
	<script src="{% static 'patient_info/js/popper.min.js' %}"></script>
	<script src="{% static 'patient_info/js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
	<script src="{% static 'patient_info/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'patient_info/js/jquery.pogo-slider.min.js' %}"></script> 
	<script src="{% static 'patient_info/js/slider-index.js' %}"></script>
	<script src="{% static 'patient_info/js/smoothscroll.js' %}"></script>
	<script src="{% static 'patient_info/js/TweenMax.min.js' %}"></script>
	<script src="{% static 'patient_info/js/main.js' %}"></script>
	<script src="{% static 'patient_info/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'patient_info/js/form-validator.min.js' %}"></script>
    <script src="{% static 'patient_info/js/contact-form-script.js' %}"></script>
	<script src="{% static 'patient_info/js/isotope.min.js' %}"></script>	
	<script src="{% static 'patient_info/js/images-loded.min.js' %}"></script>	
    <script src="{% static 'patient_info/js/custom.js' %}"></script>
</body>
</html>